# Exclude IDE settings
.vscode

# Exclude cache files.
__pycache__

# Exclude log files.
*.log

# Exclude plots, results and models
performance_results_*
best_model.pth
kpp_scaler.pth
plots/

# Exclude environment variables
.env